# ## Configure 'ip' variable to bind kubernetes services on a
# ## different ip than the default iface
# ## We should set etcd_member_name for etcd cluster. The node that is not a etcd member do not need to set the value, or can set the empty string value.
[all]
 node1 ansible_host=172.31.20.32  etcd_member_name=p_etcd1
 node2 ansible_host=172.31.20.33  etcd_member_name=p_etcd2
 node3 ansible_host=172.31.20.34  etcd_member_name=p_etcd3
 node4 ansible_host=172.31.20.35  etcd_member_name=p_etcd4
 node5 ansible_host=172.31.20.36  etcd_member_name=p_etcd5
# node6 ansible_host=95.54.0.17  # ip=10.3.0.6 etcd_member_name=etcd6

# ## configure a bastion host if your nodes are not directly reachable
# bastion ansible_host=x.x.x.x ansible_user=some_user

[kube-master]
 node1
 node2
 node3
 
[etcd]
 node1
 node2
 node3

[kube-node]
 node3
 node4
 node5

[k8s-cluster:children]
kube-master
kube-node
